/* Link Font  */
/* Font Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Font Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --bgcolor: #1c1c1e;
  --textcolor-first: #ffffff;
  --textcolor-second: #2c2c2e;
  --textcolor-desc: #8e8e93;
  --btn-color: #b5e2a7;
  --btn-hover: #7db68e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  ::-webkit-scrollbar {
    display: none;
  }
}
body {
  background-color: var(--bgcolor);
}
header {
  background-color: var(--bgcolor);
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid var(--textcolor-first);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5rem;
}
nav .logo {
  text-transform: uppercase;
  color: var(--btn-color);
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
}
nav .nav-list ul {
  gap: 0.8rem;
  display: flex;
}

nav .nav-list ul li {
  list-style: none;
}
nav .nav-list ul li a {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  font-size: 1rem;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
nav .nav-list ul li a:hover {
  color: var(--textcolor-second);
  background-color: var(--btn-color);
}
.hamburger-menu {
  color: var(--textcolor-first);
  display: none;
  font-size: 1.2rem;
  cursor: pointer;
}
/* Home Style */
#home {
  background-color: var(--bgcolor);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem;
}
#home article {
  flex: 1;
  max-width: 50%;
}
#home article .title {
  color: var(--textcolor-first);
  font-weight: 700;
  font-size: 2.7rem;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
#home article .second-title {
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  color: var(--btn-color);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}
#home article .description {
  font-family: "Roboto", sans-serif;
  color: #8e8e93;
  line-height: 1.8;
  margin-bottom: 1.2rem;
}
#home button {
  cursor: pointer;
  font-weight: 800;
  border: none;
  width: 8rem;
  border-radius: 5px;
  padding: 0.8rem 1rem;
  background-color: var(--btn-color);
  color: var(--textcolor-second);
  transition: background-color 0.3s ease;
}
#home button:hover {
  background-color: var(--btn-hover);
}
aside {
  display: flex;
  align-items: center;
  justify-content: center;
}

aside .profile,
aside img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  border: solid var(--btn-hover);
}
article .media-social ul {
  margin-top: 20px;
  list-style: none;
  display: flex;

  gap: 10px;
}
article .media-social ul li a i {
  font-size: 1.8rem;
  color: var(--btn-color);
  transition: color 0.3s ease;
}
article .media-social ul li a i:hover {
  color: rgb(255, 255, 255);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(28, 28, 30, 0.7);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(28, 28, 30, 0.7) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* About Style */

#about {
  padding: 5rem;
}
#about .title {
  color: var(--textcolor-first);
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 50px;
}

.about-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-body article {
  flex: 1;
  max-width: 50%;
}
.about-body article .description {
  font-family: "Roboto", sans-serif;
  color: var(--textcolor-desc);
  line-height: 1.8;
  margin-bottom: 20px;
}

.about-body article button {
  cursor: pointer;
  font-weight: 800;
  border: none;
  width: 8rem;
  border-radius: 5px;
  padding: 0.8rem 1rem;
  background-color: var(--btn-color);
  color: var(--textcolor-second);
  transition: background-color 0.3s ease;
}
.about-body article button:hover {
  background-color: var(--btn-hover);
}

/* Skill Style */
#skill {
  padding: 5rem;
}
#skill .title {
  margin-bottom: 50px;
  color: var(--textcolor-first);
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8rem;
}
#skill .media-list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
#skill .media-list ul li {
  list-style: none;
  flex: 1 1;
  text-align: center;
}

/* Project Style */
#project {
  padding: 5rem;
}
#project .title {
  margin-bottom: 50px;
  color: var(--textcolor-first);
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8rem;
}
#project .this-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.this-card .card {
  border: 2px solid var(--btn-color);
  border-radius: 16px;
  padding: 14px;
  width: 100%;
  height: 350px auto;
}
.this-card .card .images-card {
  border: 2px solid var(--btn-color);
  border-radius: 14px;
  width: 100%;
  height: 150px;
}

.this-card .card header {
  position: unset;
  background-color: initial;
  border-bottom: none;
  margin-bottom: 10px;
}
.this-card .card .header-card .title-card {
  margin-top: 10px;
  text-transform: uppercase;
  font-family: "Poppins", serif;
  font-size: 1.2rem;
  color: var(--textcolor-first);
}
.this-card .card .content p {
  color: var(--textcolor-desc);
  font-family: "Roboto", serif;
  line-height: 1.6;
}
.this-card .card footer {
  border-top: none;
}
.this-card .card footer a {
  text-decoration: none;
}

.this-card .card footer a button {
  border: none;
  border-radius: 30px;
  background-color: var(--btn-color);
  padding: 0.5rem 0.8rem;
  width: 100px;
  cursor: pointer;
  text-align: center;
  color: var(--textcolor-second);
  font-weight: 800;
  font-family: "Poppins", serif;
  transition: backgorund-color 0.3s ease;
}
.this-card .card footer a button:hover {
  background-color: var(--btn-hover);
}
/* Footer Style */
footer {
  font-family: "Poppins", serif;
  border-top: 1px solid var(--textcolor-first);
  padding: 1rem;
  text-align: center;
  color: var(--textcolor-first);
}

/* Responsive */
@media (min-width: 769px) and (max-width: 968px) {
  nav {
    padding: 15px 3.5rem;
  }
  nav .logo {
    font-size: 1.3rem;
  }
  nav .nav-list ul li a {
    font-size: 0.8rem;
  }
  #home,
  #about,
  #skill,
  #project {
    padding: 3.5rem;
  }
  #home article .title {
    font-size: 2.3rem;
  }
}
@media only screen and (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  nav {
    padding: 15px 2rem;
  }

  nav .logo {
    font-size: 1rem;
  }
  nav .nav-list {
    background-color: rgba(28, 28, 30, 0.7);
    backdrop-filter: blur(10px);
    display: none;
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }
  nav .nav-list.active {
    display: flex;
  }
  .nav-list ul {
    width: 100%;
    flex-direction: column;
    gap: 0;
  }
  nav .nav-list ul li a {
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 0;
    transition: background-color 0.3s ease-in-out;
  }

  nav .nav-list ul li a:hover {
    background-color: var(--btn-color);
    color: var(--textcolor-first);
  }
  #home {
    flex-direction: column-reverse;
    padding: 2rem;
  }
  #home article .title {
    font-size: 1.8rem;
  }
  #home article .second-title {
    font-size: 1rem;
  }
  #home article {
    margin-top: 2rem;
    text-align: center;
    max-width: 100%;
  }
  #home article .title {
    margin-bottom: 10px;
  }

  #home article .second-title {
    margin-bottom: 10px;
  }

  .media-social ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #about {
    padding: 2rem;
  }
  .about-body {
    margin-top: 2rem;
    flex-direction: column;
  }
  .about-body article {
    text-align: center;
    margin-top: 2rem;
    max-width: 100%;
  }
  #skill {
    padding: 2rem;
  }
  #skil .media-list ul {
    flex: 1 1 auto;
    max-width: none;
  }
  #skill .media-list ul li svg {
    width: 80px;
    height: 80px;
  }
  #project {
    padding: 2rem;
  }
  #project .this-card {
    flex-direction: column;
  }
  footer {
    font-size: 14px;
  }
}
#home,
#about,
#skill,
#project {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
